.custom-input{
    outline: none;
}

.custom-input:focus{
    outline: none;
    border: none;
    box-shadow: none;
}

.custom-width {
    width: 320px; /* Set your desired width */
}

.custom-color-search{
    color: #817e7e;
}

.custom-hero-position{
    top: 60%;
    left: 13%;
}

.custom-padding{
    padding: 0px 180px;
}

.nav-item {
    position: relative;
}


.active::after {
    content: '';
    position: absolute;
    bottom: -9px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
    transform: scaleX(1);
    transition: transform 0.3s ease-in-out;
}


.nav-link:hover::after,
.nav-link.active::after {
    transform: scaleX(1);
}

.custom-button-color-write-post{
    background-color: #d7d3d3;
}

.custom-button-color-write-post:hover{
    background-color: #c4c0c0;
}


.allpost {
    width: 65%; /* Width set to 50% */
}

.rightcontainer {
    width: 35%; /* Width set to 50% */
}

.postCard{
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin: 5px 20px;
}

.image {
    max-width: 100%;
}

.bg-light{
    background-color: #807d7d;
}

.login-button{
    cursor: pointer;
}

.login-button:hover{
    text-decoration: underline;
}


.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-overlay-mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal {
    background-color: white;
    padding: 0px;
    z-index: 100;
    width: 850px;
    height: 500px;
    border-radius: 5px;
    max-width: 90%;
    position: relative;
    top: 0;
    left: 0;
    /*transform: translate(-50%, -50%);*/
    /*-webkit-transform: translate(-50%, -50%);*/
    /*-ms-transform: translate(-50%, -50%);*/
}



.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-close {
    cursor: pointer;
    border: none;
    background: none;
    font-size: 24px;
    right: 0%;
    top: 0%;
    z-index: 100;
    color: #999;
}

.modal-body {
    padding: 20px 0;
}

.form-control{
    border-radius: 1px;
    background-color: #f6f0f0;
    height: 45px;
}

.forming{
    width: 40%;
    margin: 0px 40px;
}


.small{
    font-size: 13px;
}


.dropdown {
    position: absolute;
    top: 120%;
    right: 0;
    z-index: 10;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    padding: 8px 0px;
}

.dropdown ul {
    list-style-type: none;
    padding: 0;
    width: 180px;
    margin: 0;
}

.dropdown li {
    display: flex;
    align-items: center;
    padding: 8px;
    cursor: pointer;
}

.dropdown li:hover{
    background: #f1ebeb;
}

.more-button{
    padding: 1px;
    border-radius: 4px;
    cursor: pointer;
}

.more-button:active {
    background: #f1ebeb;
}

.hero-image-desktop {
    display: block;
}

.hero-image-mobile {
    display: none;
}

.lower-navbar-desktop{
    display: block;
}

.lower-navbar-mobile{
    display: none;
}



.bg-gradient {
    display: none;
    background: orange;
    color: white;
    position: absolute;
    width: 50px;
    height: 50px;
    right: 2%;
    bottom: 2%;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}


.forming-mobile{
    margin: 0px 25px;
}

.modal-mobile{
    width: 100%;
    background: white;
    height: 500px;
    border-radius: 5px;
    position: relative;
    top: 25%;
    left: 0;
    padding-top: 10px;
}

.pop-mobile-button{
    width: 200px;
}

.mobile-model{
    display: none;
}

.custom-hero-navbar-mobile{
    display: none;
}

@media (max-width: 767px) {
    .hero-image-desktop {
        display: none;
    }
    .hero-image-mobile {
        display: block;
    }
    .custom-padding{
        padding: 0px 0px;
    }
    .lower-navbar-desktop{
        display: none;
    }
    .lower-navbar-mobile{
        display: block;
    }
    .rightcontainer{
        display: none;
    }
    .allpost{
        width: 100%;
    }
    .postCard{
        margin: 10px 0px;
        border: none;
        box-shadow: 2px 2px 5px #000;
    }
    .bg-gradient {
        display: flex;
    }
    .forming{
        width: 100%;
        margin: 0px 0px;
    }
    .modal-body {
        padding: 0;
    }
    .custom-hero-navbar-mobile{
        display: flex;
        width: 100%;
    }
    .modal-overlay-mobile{
        display: flex;
    }
}


@media (max-width: 900px) and (min-width: 767px) {
    .custom-padding {
        padding: 0px 20px;
    }
}


.eye{
    right: 2%;
}
